[package]
name = "rustls"
version = "0.15.1"
edition = "2018"
authors = ["Joseph Birr-Pixton <jpixton@gmail.com>"]
license = "Apache-2.0/ISC/MIT"
readme = "README.md"
description = "Rustls is a modern TLS library written in Rust."
homepage = "https://github.com/ctz/rustls"
repository = "https://github.com/ctz/rustls"
categories = ["network-programming", "cryptography"]

[dependencies]
base64 = "0.10"
log = { version = "0.4.0", optional = true }
ring = "0.14"
sct = "0.5"
untrusted = "0.6.2"
webpki = "0.19"

[features]
default = ["logging"]
logging = ["log"]
dangerous_configuration = []
quic = []

[dev-dependencies]
env_logger = "0.6.1"
regex = "1.0"
tempfile = "3.0"
webpki-roots = "0.16"
