[workspace]
members = [
  # CI benchmarks
  "ci-bench",
  # Network-based tests
  "connect-tests",
  # tests and example code
  "examples",
  # the pki-types library
  "pki-types",
  # the main library and tests
  "rustls",
  # example of custom provider
  "provider-example",
]
default-members = [
  "examples",
  "rustls",
]
exclude = ["admin/rustfmt"]
resolver = "2"
