[package]
name = "rustls"
version = "0.19.0"
edition = "2018"
authors = ["Joseph Birr-Pixton <jpixton@gmail.com>"]
license = "Apache-2.0/ISC/MIT"
readme = "../README.md"
description = "Rustls is a modern TLS library written in Rust."
homepage = "https://github.com/ctz/rustls"
repository = "https://github.com/ctz/rustls"
categories = ["network-programming", "cryptography"]
autobenches = false

[dependencies]
base64 = { git = "https://github.com/yunuseozer/rust-base64-sgx" }
log = { git = "https://github.com/yunuseozer/log-sgx", optional = true }
ring = { git = "https://github.com/yunuseozer/ring-sgx" }
sct = { git = "https://github.com/yunuseozer/sct.rs", branch = "mesalock_sgx" }
webpki = { git = "https://github.com/yunuseozer/webpki", branch = "mesalock_sgx" }
sgx_tstd = { rev = "v1.1.4-upgrade", git = "https://github.com/yunuseozer/incubator-teaclave-sgx-sdk.git", optional = true }

[features]
default = ["logging", "mesalock_sgx"]
logging = ["log"]
dangerous_configuration = []
quic = []
mesalock_sgx = ["sgx_tstd"]

[dev-dependencies]
#env_logger = "0.8.2"
#log = "0.4.4"
#webpki-roots = "0.21"
#criterion = "0.3.0"

[[example]]
name = "bogo_shim"
path = "examples/internal/bogo_shim.rs"
required-features = ["dangerous_configuration", "quic"]

[[example]]
name = "trytls_shim"
path = "examples/internal/trytls_shim.rs"

[[example]]
name = "bench"
path = "examples/internal/bench.rs"

[[bench]]
name = "benchmarks"
path = "tests/benchmarks.rs"
harness = false

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
