[package]
name = "rustls"
version = "0.22.0-alpha.3"
edition = "2021"
rust-version = "1.61"
license = "Apache-2.0 OR ISC OR MIT"
readme = "../README.md"
description = "Rustls is a modern TLS library written in Rust."
homepage = "https://github.com/rustls/rustls"
repository = "https://github.com/rustls/rustls"
categories = ["network-programming", "cryptography"]
autobenches = false
build = "build.rs"

[build-dependencies]
rustversion = { version = "1.0.6", optional = true }

[dependencies]
log = { version = "0.4.4", optional = true }
ring = { version = "0.17", optional = true }
subtle = "2.5.0"
webpki = { package = "rustls-webpki", version = "=0.102.0-alpha.6", features = ["alloc", "std"], default-features = false }
pki-types = { package = "rustls-pki-types", version = "0.2.1", features = ["std"] }
zeroize = "1.6.0"

[features]
default = ["logging", "ring", "tls12"]
logging = ["log"]
ring = ["dep:ring", "webpki/ring"]
quic = []
tls12 = []
read_buf = ["rustversion"]

[dev-dependencies]
bencher = "0.1.5"
env_logger = "0.10"
log = "0.4.4"
webpki-roots = "=0.26.0-alpha.1"
rustls-pemfile = "=2.0.0-alpha.1"
base64 = "0.21"

[[example]]
name = "bogo_shim"
path = "examples/internal/bogo_shim.rs"
required-features = ["quic", "tls12", "ring"]

[[example]]
name = "bench"
path = "examples/internal/bench.rs"
required-features = ["ring"]

[[bench]]
name = "benchmarks"
path = "benches/benchmarks.rs"
harness = false
required-features = ["ring"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[package.metadata.cargo_check_external_types]
allowed_external_types = [
    "rustls_pki_types::*",
]
