<html>
  <head>
    <title>rustls: {{ page.title | default (value="a modern TLS library written in Rust") }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  </head>
  <body>
  <a href=".."><img id="baby-logo" src="/rustls-ferris.png"></a>
  {% block lede %} {% endblock %}
  <div class="box">
    <div class="content">
      {% block content %} {% endblock %}
    </div>
  </div>
  </body>
</html>
