[package]
name = "rustls-provider-example"
version = "0.0.1"
edition = "2021"
license = "Apache-2.0 OR ISC OR MIT"
description = "Example of rustls with custom crypto provider."
publish = false

[dependencies]
chacha20poly1305 = "0.10.0"
der = "0.7.0"
env_logger = "0.10"
hmac = "0.12.0"
pki-types = { package = "rustls-pki-types", version = "0.2.0" }
rand_core = "0.6.0"
rustls = { path = "../rustls", default-features = false, features = ["logging", "tls12"] }
rsa = { version = "0.9.3", features = ["sha2"] }
sha2 = "0.10.0"
webpki = { package = "rustls-webpki", version = "0.102.0-alpha.1", default-features = false, features = ["alloc", "std"] }
webpki-roots = "0.26.0-alpha.1"
x25519-dalek = "2"
