name: rustls

permissions:
  contents: read

on:
  push:
    branches: ['main', 'rel-*', 'ci/*']
    tags:
    - '**'
  pull_request:
  merge_group:
  schedule:
    - cron: '0 18 * * *'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: --deny warnings
  AWS_LC_SYS_NO_JITTER_ENTROPY: 1

jobs:
  build:
    name: Build+test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        exclude:
          # only stable on macos/windows (slower platforms)
          - os: windows-latest
            rust: beta
          - os: windows-latest
            rust: nightly
          - os: macos-latest
            rust: beta
          - os: macos-latest
            rust: nightly
          # and never use macos/windows for merge checks
          - os: ${{ github.event_name == 'merge_group' && 'windows-latest' }}
          - os: ${{ github.event_name == 'merge_group' && 'macos-latest' }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install ${{ matrix.rust }} toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - name: Install NASM for aws-lc-rs on Windows
        if: runner.os == 'Windows'
        uses: ilammy/setup-nasm@v1

      - name: Install ninja-build tool for aws-lc-fips-sys on Windows
        if: runner.os == 'Windows'
        uses: seanmiddleditch/gha-setup-ninja@v6

      - name: Install golang for aws-lc-fips-sys on macos
        if: runner.os == 'MacOS'
        uses: actions/setup-go@v6
        with:
          go-version: "1.26.0"

      - name: cargo build (debug; default features)
        run: cargo build --locked

      # nb. feature sets that include "fips" should be --release --
      # this is required for fips on windows.
      # nb. "--all-targets" does not include doctests
      - name: cargo test (release; all features)
        run: cargo test --locked --release --all-features --all-targets
        env:
          RUST_BACKTRACE: 1

      # nb. this is separate since `--doc` option cannot be combined with other target option(s) ref:
      # - https://doc.rust-lang.org/cargo/commands/cargo-test.html
      - name: cargo test --doc (release; all-features)
        run: cargo test --locked --release --all-features --doc
        env:
          RUST_BACKTRACE: 1

      - name: cargo build (debug; no-std)
        run: |
          cargo build --locked --lib -p rustls $(admin/all-features-except std,brotli rustls)
          cargo build --locked --lib -p rustls-ring --no-default-features
          cargo build --locked --lib -p rustls-aws-lc-rs --no-default-features --features aws-lc-sys


      - name: cargo build (debug; rustls-provider-example)
        run: cargo build --locked -p rustls-provider-example

      - name: cargo build (debug; rustls-provider-example lib in no-std mode)
        run: cargo build --locked -p rustls-provider-example --no-default-features

      - name: cargo test (debug; rustls-provider-example; all features)
        run: cargo test --locked --all-features -p rustls-provider-example

      - name: cargo build (debug; rustls-provider-test)
        run: cargo build --locked -p rustls-provider-test

      - name: cargo test (debug; rustls-provider-test; all features)
        run: cargo test --locked --all-features -p rustls-provider-test

      - name: cargo package --all-features -p rustls
        run: cargo package --all-features -p rustls

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: "1.83"

      - run: cargo check --locked --lib --all-features -p rustls

  features:
    name: Features
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          target: x86_64-unknown-none

      - name: cargo build (debug; default features)
        run: |
          cargo build --locked -p rustls
          cargo build --locked -p rustls-ring
          cargo build --locked -p rustls-aws-lc-rs

      - name: cargo test (debug; default features)
        run: cargo test --locked
        working-directory: rustls
        env:
          RUST_BACKTRACE: 1

      - name: cargo test (debug; no default features)
        run: |
          cargo test --locked -p rustls --no-default-features
          cargo test --locked -p rustls-ring --no-default-features
          cargo test --locked -p rustls-aws-lc-rs --no-default-features --features aws-lc-sys

      - name: cargo test (debug; no default features; std)
        run: |
          cargo test --locked -p rustls-ring --no-default-features --features std
          cargo test --locked -p rustls-aws-lc-rs --no-default-features --features std --features aws-lc-sys

      - name: cargo test (release; no run)
        run: cargo test --locked --release --no-run
        working-directory: rustls

  bogo:
    name: BoGo test suite
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install golang toolchain
        uses: actions/setup-go@v6
        with:
          go-version: "1.26"
          cache: false

      - name: Run test suite (ring)
        working-directory: bogo
        run: ./runme
        env:
          BOGO_SHIM_PROVIDER: ring

      - name: Run test suite (aws-lc-rs)
        working-directory: bogo
        run: ./runme
        env:
          BOGO_SHIM_PROVIDER: aws-lc-rs

      - name: Run test suite (aws-lc-rs-fips)
        working-directory: bogo
        run: ./runme
        env:
          BOGO_SHIM_PROVIDER: aws-lc-rs-fips

  fuzz:
    name: Smoke-test fuzzing targets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo fuzz
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cargo-fuzz

      - name: Smoke-test fuzz targets
        env:
          # cargo fuzz uses a bunch of -Z options
          RUSTC_BOOTSTRAP: 1
        run: |
          cargo fuzz build
          for target in $(cargo fuzz list) ; do
            cargo fuzz run $target -- -max_total_time=10
          done

  benchmarks:
    name: Run benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Smoke-test benchmark program (ring)
        run: cargo run -p rustls-bench --release --locked --features ring -- --multiplier 0.1

      - name: Smoke-test benchmark program (aws-lc-rs)
        run: cargo run -p rustls-bench --release --locked --features aws-lc-rs -- --multiplier 0.1

      - name: Smoke-test benchmark program (fips)
        run: cargo run -p rustls-bench --release --locked --features fips -- --provider aws-lc-rs-fips --multiplier 0.1

      - name: Run micro-benchmarks
        run: cargo bench --locked --all-features
        env:
          RUSTFLAGS: --cfg=bench
          # unit-benchmarks are permanantly unstable
          RUSTC_BOOTSTRAP: 1

  docs:
    name: Check for documentation errors
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install rust toolchain
        # use nightly to mirror docs.rs
        uses: dtolnay/rust-toolchain@nightly

      - name: cargo doc (rustls; all features)
        run: cargo doc --locked --all-features --no-deps --document-private-items --package rustls
        env:
          RUSTDOCFLAGS: -Dwarnings

      - name: Check README.md
        run: |
          cargo build --locked --all-features
          ./admin/pull-readme
          git diff --exit-code

      - name: Spell check code
        uses: crate-ci/typos@v1
        with:
          config: .github/typos.toml


  coverage:
    name: Measure coverage
    runs-on: ubuntu-latest
    if: github.event_name != 'merge_group'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools

      - name: Install cargo-llvm-cov
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cargo-llvm-cov

      - name: Measure coverage
        run: ./admin/coverage --lcov --output-path final.info

      - name: Report to codecov.io
        uses: codecov/codecov-action@v5
        with:
          files: final.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false

  minver:
    name: Check minimum versions of direct dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install cargo-minimal-versions
        uses: taiki-e/install-action@cargo-minimal-versions

      # cargo-minimal-versions requires cargo-hack
      - name: Install cargo-hack
        uses: taiki-e/install-action@cargo-hack

      - name: Check direct-minimal-versions
        run: cargo minimal-versions --direct --ignore-private check
        working-directory: rustls/
        env:
          # `cargo minimal-versions` uses unstable cargo features
          RUSTC_BOOTSTRAP: 1

  cross:
    name: cross-target testing
    runs-on: ubuntu-latest
    if: github.event_name != 'merge_group'
    strategy:
      matrix:
        target:
          # 32-bit Android (Linux) targets:
          - armv7-linux-androideabi
          - i686-linux-android
          - thumbv7neon-linux-androideabi
          # Other standard 32-bit (Linux) targets
          - i586-unknown-linux-gnu
          - i686-unknown-linux-gnu
          # exotic Linux targets:
          - riscv64gc-unknown-linux-gnu
          - s390x-unknown-linux-gnu
          # additional target(s):
          # NOTE: This could have some overlap with 64-bit ARM-style CPU on macOS CI host;
          # may have similar ARM-style CPU overlap with standard Windows & possibly Linux in the future
          - aarch64-linux-android
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install cross
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cross
          git: https://github.com/cross-rs/cross
          # known-working main in feb 2025, bump as needed
          rev: c7dee4d
      - run: cross test --package rustls --target ${{ matrix.target }}
      - run: cross test --package rustls-test --features aws-lc-rs --no-default-features --target ${{ matrix.target }}

  semver:
    name: Check semver compatibility
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Check semver
        uses: obi1kenobi/cargo-semver-checks-action@v2

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        run: cargo fmt --all -- --check
      - name: Check formatting (connect-tests workspace)
        run: cargo fmt --all --manifest-path=connect-tests/Cargo.toml -- --check
      - name: Check formatting (fuzz workspace)
        run: cargo fmt --all --manifest-path=fuzz/Cargo.toml -- --check

  format-unstable:
    name: Format (unstable)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install rust nightly toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Check formatting (unstable)
        run: cargo fmt --all -- --check --config-path .rustfmt.unstable.toml
      - name: Check formatting (unstable, connect-tests workspace)
        run: cargo fmt --all --manifest-path=connect-tests/Cargo.toml -- --check --config-path .rustfmt.unstable.toml
      - name: Check formatting (unstable, fuzz workspace)
        run: cargo fmt --all --manifest-path=fuzz/Cargo.toml -- --check --config-path .rustfmt.unstable.toml
      - if: ${{ failure() }}
        run: echo "Nightly formatting check failed. Please run \`cargo +nightly fmt-unstable\`"

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install valgrind
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y valgrind

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - run: ./admin/clippy -- --deny warnings

  clippy-nightly:
    name: Clippy (Nightly)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install valgrind
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y valgrind

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      # Do not deny warnings, as nightly clippy sometimes has false negatives.
      - run: ./admin/clippy

  check-external-types:
    name: Validate external types appearing in public API
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly-2025-10-18
          # ^ sync with https://github.com/awslabs/cargo-check-external-types/blob/main/rust-toolchain.toml
      - name: Install cargo-check-external-types
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: cargo-check-external-types
      - name: run cargo-check-external-types for rustls/
        working-directory: rustls/
        run: cargo check-external-types

  taplo:
    name: Taplo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install taplo-cli
        uses: taiki-e/cache-cargo-install-action@v3
        with:
          tool: taplo-cli
      - run: taplo format --check

  openssl-tests:
    name: Run openssl-tests
    runs-on: ubuntu-latest
    env:
      VERSION: openssl-3.4.0
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache ${{ env.VERSION }}
        uses: actions/cache@v5
        id: cache-openssl
        with:
          path: ${{ env.VERSION }}
          key: ${{ env.VERSION }}

      - name: Fetch and build ${{ env.VERSION }}
        if: steps.cache-openssl.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/openssl/openssl/releases/download/$VERSION/$VERSION.tar.gz
          tar -xzf $VERSION.tar.gz
          cd $VERSION/
          ./Configure --prefix=$(pwd)/built/ --libdir=lib
          make -j$(nproc)
          make install

      - name: Use ${{ env.VERSION }}
        run: |
         path=$(pwd)/$VERSION/built/
         echo "$path/bin" >> $GITHUB_PATH
         echo "LD_LIBRARY_PATH=$path/lib" >> $GITHUB_ENV

      - name: openssl version
        run: openssl version

      - name: cargo test (in openssl-tests/)
        working-directory: openssl-tests/
        run: cargo test --locked -- --include-ignored
        env:
          RUST_BACKTRACE: 1

  audit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: EmbarkStudios/cargo-deny-action@v2
